input::-webkit-input-placeholder {
  color: $grey-400;
}

input, a, button {
  cursor: pointer;
}

.btn--form {
  border: 1px solid white;
  border-radius: 5px;
  transition: width .2s ease-in-out;
  box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.06);

  &:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,.09),0 4px 40px rgba(0,0,0,.1);
  }

  &.btn--stealth {
    border: 1px solid transparent;
    box-shadow: none;
    transition: border .3s ease-in-out, width .2s ease-in-out;

    &:hover {
      border: 1px solid white;
    }
  }

  button {
    float: right;
    margin: 2px;
    height: calc(100% - 4px);
    border-radius: 3px;
    border: 0;
    transition: all .2s ease-in-out;
    background-color: transparent;
    color: white;

    &:disabled {
      cursor: auto;
    }
  }

  input {
    border: 0;
    border-radius: 5px;
    width: 0px;
    height: 100%;
    padding: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
  }

  &.active {
    background-color: white;
    width: 300px;
    transition: width .2s ease-in-out;

    input, button {
      animation: fadeIn .3s ease-in-out;
      animation-delay: .1s;
      animation-fill-mode: forwards;
    }

    input {
      flex-grow: 1;
      padding-left: 15px;
    }

    button {
      background-color: rgba(50, 50, 50, 1);

      &:disabled {
        background-color: rgba(50, 50, 50, 0.1);
      }
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;

    &:focus {
      -webkit-box-shadow:0 0 0 50px white inset;
    }
  }
}

.arrow-download {
  width: 10px;
  height: 100%;
  margin-left: 8px;
  margin-top: 5px;
}

.arrow-download__path {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}


@media screen and (max-width:767px) {
  /* removes zoom on focus */
  input[type="text"], select {
    font-size: 16px;
  }

  .btn--form.active {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.section--epub {
  .btn--form:not(.active) {
    button {
      color: $black;
    }
  }
}

// black color variant
.btn--black {
  border-color: $black;

  &:not(.btn--form) {
    color: $black;
  }

  &:not(.active) {
    button {
      color: $black;
    }

    .arrow-download__path {
      stroke: $black;
    }
  }
}

// brand color variant
.btn--brand {
  border-color: $brand;

  &:not(.btn--form) {
    color: $brand;
  }

  &:not(.active) {
    button {
      color: $brand;
    }

    .arrow-download__path {
      stroke: $brand;
    }
  }

  &.active {
    .btn,
    button {
      background-color: $brand;
    }
  }
}
