input::-webkit-input-placeholder {
  color: $grey-400;
}

input, a, button {
  cursor: pointer;
}

.btn--form {
  border: 2px solid white;
  border-radius: 25px;
  transition: width .2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16);

  &:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,.09),0 4px 40px rgba(0,0,0,.24);
  }

  button {
    outline: none;
    float: right;
    padding: 0 15px;
    height: 100%;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: transparent;
    color: white;
  }

  input {
    border: 0;
    border-radius: 25px;
    width: 0px;
    height: 100%;
    padding: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
  }

  &.active {
    background-color: white;
    width: 300px;
    transition: width .2s ease-in-out;
    cursor: default;

    input, button {
      animation: fadeIn .3s ease-in-out;
      animation-delay: .1s;
      animation-fill-mode: forwards;
    }

    input {
      flex-grow: 1;
      padding-left: 15px;
    }

    button {
      background-color: rgba(50, 50, 50, 1);

      &:disabled {
        background-color: rgba(50, 50, 50, 0.1);
        cursor: auto;
      }
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;

    &:focus {
      -webkit-box-shadow:0 0 0 50px white inset;
    }
  }
}

@media screen and (max-width:767px) {
  /* removes zoom on focus */
  input[type="text"]:focus, select:focus {
    font-size: 16px;
  }
  .btn--form {
    margin: 0 auto;
  }
  .btn--form.active {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.section--epub {
  .btn--form:not(.active) {
    button {
      color: $black;
    }
  }
}
