.section--epub {
  background-color: $blue-light;
}

.epub-wrapper:not(.no_image) {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-image: url("/assets/svg/illustrations/coffee.svg");

  @include media-breakpoint-up(sm) {
    background-position: left 30px;
    background-size: 54%;
  }

  @include media-breakpoint-up(xl) {
    background-size: 52%;
  }

  @include media-breakpoint-up(xxl) {
    background-size: 45%;
  }

  @include media-breakpoint-up(xxxl) {
    background-size: 750px;
  }

  .heading {
    text-align: left;
  }

  .epub-text-container {
    padding-left: 30px;
    background-color: rgba(189, 226, 230, 0.7);
    text-align: left;

    @include media-breakpoint-up(sm) {
      background-color: transparent;
      padding-left: 0;
      margin-left: auto;
      padding-right: 0
    }

    @include media-breakpoint-up(lg) {
      padding-left: 30px;
    }
  }
}

.epub-image-container {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  margin-left: 5%;
  width: 33%;
  max-width: 350px;

  img {
    padding: 15% 15% 17% 12%;
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    margin-left: 6%;
    width: 60%;
    margin-bottom: 20px;
  }
}

.page--epub {
  .section--epub {
    background: none;
  }

  .epub-text-container {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;

    .t-2 {
      font-size: 13px;
    }
  }
}
