.page--epub {
  .epub-wrapper {
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 46px;
    }
  }
}

.epub-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;

  @include media-breakpoint-up(sm) {
    background-position: left 30px;
    background-size: 54%;
  }

  @include media-breakpoint-up(xl) {
    background-size: 52%;
  }

  @include media-breakpoint-up(xxl) {
    background-size: 45%;
  }
}

.epub-image-container {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  margin-left: 5%;
  width: 33%;
  max-width: 350px;

  img {
    padding: 15% 15% 17% 12%;
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    margin-left: 6%;
    width: 60%;
    margin-bottom: 20px;
  }
}

.epub-text-container {
  padding-left: 30px;
  background-color: rgba(189, 226, 230, 0.7);

  @include media-breakpoint-up(sm) {
    background-color: transparent;
    padding-left: 0;
    margin-left: auto;
    padding-right: 0
  }

  @include media-breakpoint-up(lg) {
    padding-left: 30px;
  }
}
