.header {
  background-color: rgba(29, 29, 33, 0.9);

  @include media-breakpoint-down(sm) {
    &.closed {
      height: 30px;
      transition: 
      background .20s cubic-bezier(0.18, 0.08, 0.14, 1),
      height .40s cubic-bezier(0.32, 0.16, 0.14, 1);
    }

    &.opened {
      height: 350px;
      background: rgba(29, 29, 33, 1);
      transition:
        background .20s cubic-bezier(0.18, 0.08, 0.14, 1),
        height .40s cubic-bezier(0.32, 0.16, 0.14, 1);
    }
  }
}

.nav-tab {
  @include media-breakpoint-down(sm) {
    display: block;

    &::before {
      content: none;
    }
  }

  @include media-breakpoint-up(md) {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
}
