#root {
  height: 1000px;
}

.page {
  height: 300vh;
}

.macbook--screen {
  position: absolute;
  z-index: 6;
  top: 7.6%;
  left: 13.3%;
  width: 73.2%;
  height: 81%;
  background-color: $black;
}

.optimisation-cycle {
  will-change: transform;
  transition: transform 0.2s ease;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }
}

.interface--container {
  transform: scale(0.3);
  will-change: transform;
  transition: transform 0.2s ease;
  max-width: 140vh;
  z-index: 5;

  @include media-breakpoint-down(xs) {
    max-width: 150vw;
  }
}

.interface-header {
  height: 7%;

  .interface-header-logo {
    width: 6%;
  }
}

.interface-body {
  height: 93%;
}

.interface-header-tab,
.interface-navigation-item {
  &.clickable {
    @extend %underline--fancy-hover;
    margin-bottom: -4px;

    &.active {
      @extend %underline--fancy;
    }
  }

  @include media-breakpoint-down(xs) {
    font-size: 6px;
  }
}

.interface-video {
  height: 93%;
}
