.section--interface {
  h2, h3, h6 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.macbook--screen {
  position: absolute;
  z-index: 6;
  top: 7.2%;
  left: 14.8%;
  width: 70.5%;
  height: 78%;
  background-color: $black;
}

.screen--interface {
  box-shadow: inset 0 0 3px $grey;
}

.optimisation-cycle {
  will-change: transform;
  transition: transform 0.2s ease;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;

  @include media-breakpoint-down(lg) {
    overflow-x: hidden;
    height: 70vh;
  }

  @include media-breakpoint-down(sm) {
    height: 75vh;
  }

  .heading {
      @include media-breakpoint-down(sm) {
          position: absolute;
          top: 10px;
      }
  }
}

.interface--container {
  transform: scale(0.23);
  will-change: transform;
  transition: transform 0.2s ease;
  max-width: 150vh;
  z-index: 5;

  @include media-breakpoint-down(xs) {
    max-width: 150vw;
  }
}

.interface-header {
  height: 7%;
  box-shadow: inset 0 0 2px $grey;

  .interface-header-logo {
    width: 6%;
  }
}

.interface-body {
  height: 93%;
}

.interface-header-tab,
.interface-navigation-item {
  &.clickable {
    @extend %underline--fancy-hover;
    margin-bottom: -4px;

    &.active {
      @extend %underline--fancy;
    }
  }

  @include media-breakpoint-down(xs) {
    font-size: 6px;
  }
}

.interface-video {
  height: 93%;
}
