.section--intro {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 85%;
  background-color: #1e94a0;
  height: 100vh;
  max-height: 130vw;

  .heading {
    text-transform: none;
    font-size: 2.75rem;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
  }

  @include media-breakpoint-up(sm) {
    max-height: auto;

    .intro__text {
      flex-grow: 1;
      max-width: 500px;
    }
  }
}
