.section--intro {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 85%;
  background-color: #1e94a0;
  height: 100vh;
  max-height: 130vw;

  .heading {
    text-transform: none;
    font-size: 2.75rem;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
  }

  @include media-breakpoint-up(sm) {
    max-height: none;

    .intro__text {
      flex-grow: 1;
      max-width: 500px;
    }
  }

  &.intro--home {
    background-position: top left;
    background-size: 120%;
    background-color: #071940;

    .intro__text {
      text-align: left;
      max-width: 100%;
      margin-right: auto;
      font-family: $font-family-condensed;
    }

    @include media-breakpoint-up(lg) {
      background-size: 100%;

      .heading {
        font-size: 4.2rem;
        line-height: 1;
      }
    }
  }
}
