.section--intro {
  height: 100vh;
  background-image: url('/assets/svg/backgrounds/intro-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .heading {
    text-transform: none;
    font-size: 2.75rem;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
  }
}

.intro__text {
  flex-grow: 1;
  max-width: 500px;
}
