.case-card {
  .case-card__wrapper {
    background-color: $blue;
    color: $brand-light;
  }

  &:nth-child(odd) {
    .case-card__wrapper {
      background-color: $brand-light;
      color: $blue;
    }
  }
}

.case-card__text-wrapper {
  height: 250px;

  @include media-breakpoint-up(sm) {
    height: 30vw;
    max-height: 500px;
  }
}

.case-card__result {
  font-size: 3rem
}

.case-card__metric {
  font-size: 2rem;
}

.partner-logo {
  max-width: 150px;
  max-height: 50px;

  img {
    min-width: 40px;
    max-height: 20px;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      min-width: 50px;
      max-height: 25px;
    }

    @include media-breakpoint-up(md) {
      min-width: 80px;
      max-height: 40px;
    }
  }
}
