#root {
  height: 1000px;
}

.macbook--screen {
  position: absolute;
  z-index: 6;
  top: 7.6%;
  left: 13.3%;
  width: 73.2%;
  height: 81%;
  background-color: $black;
}

.interface--container {
  transform: scale(0.3);
  will-change: transform;
  transition: transform 0.2s ease;
  max-width: 140vh;
  z-index: 5;
}

.interface-header {
  height: 7%;

  .interface-header-logo {
    width: 6%;
  }
}

.interface-body {
  height: 93%;
}

.interface-header-tab,
.interface-navigation-item {
  &.clickable {
    @extend %underline--fancy-hover;
    margin-bottom: -4px;

    &.active {
      @extend %underline--fancy;
    }
  }
}

.interface-video {
  height: 93%;
}
