//
// Backgrounds
//

.bg-green       { background-color: $green-300 !important; }
.bg-yellow      { background-color: $yellow-300 !important; }
.bg-red         { background-color: $red-300 !important; }
.bg-grey        { background-color: $grey-700 !important; }
.bg-black       { background-color: $black !important; }
.bg-white       { background-color: $white !important; }
.bg-transparent { background-color: transparent !important; }
.bg-brand       { background-color: $brand !important; }
.bg-fade-edge {
  background-image:
  linear-gradient(white, white 1%, rgba(255, 255, 255, 0.3) 4%, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 92%, rgba(255, 255, 255, 0.3) 96%, white 99%, white),
  linear-gradient(90deg, white, white 1%, rgba(255, 255, 255, 0.3) 4%, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 92%, rgba(255, 255, 255, 0.3) 96%, white 99%, white);
}

.t-green      { color: $green !important; }
.t-yellow     { color: $yellow !important; }
.t-red        { color: $red !important; }
.t-grey       { color: $grey-300 !important; }
.t-light-grey { color: $grey-500 !important; }
.t-white      { color: $white !important; }
.t-black      { color: $black !important; }
.t-brand      { color: $brand !important; }
