//
// Position
//

.pos-absolute { position: absolute; }
.pos-fixed    { position: fixed; }
.pos-relative { position: relative; }
.pos-static   { position: static; }

.pos-sticky {
    @supports (position: sticky) {
        position: sticky;
    }
}

.pos-bottom   { bottom: 0; }
.pos-left     { left: 0; }
.pos-right    { right: 0; }
.pos-top      { top: 0; }

.pos-h-center {
    left: 50%;
    transform: translateX(-50%);
}

.pos-v-center {
    top: 50%;
    transform: translateY(-50%);
}
