//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: ($spacer / 2);
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    font-weight: $font-weight-bold;
}

h3,
h4,
h5,
.h3,
.h4,
.h5{
    font-weight: $font-weight-normal;
}

h1,
.h1 {
    font-size: 1.125rem; // 18px
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
        font-size: 1.25rem; // 20px
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.4375rem; // 23px
    }

    &.heading,
    .heading {
        font-size: 1.25rem;
        letter-spacing: 0.03em;
        margin-bottom: $spacer * 1.5;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            padding: 0 10vw;
            max-width: 800px;

            &.t-center {
              margin-left: auto;
              margin-right: auto;
            }
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
            margin-bottom: $spacer * 3;
        }
    }
}

h2,
.h2 {
    font-size: 0.875rem; // 14px
    letter-spacing: 0.03em;

    @include media-breakpoint-up(md) {
        font-size: 1rem; // 16px
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.125rem; // 18px
    }

    &.heading,
    .heading {
        font-size: 1.125rem; // 18px

        @include media-breakpoint-up(md) {
            font-size: 1.25rem; // 20px
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem; // 24px
        }
    }
}

h3,
.h3 {
    font-size: 0.5rem;

    @include media-breakpoint-up(sm) {
        font-size: 0.8rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 0.875rem; // 14px
    }

    @include media-breakpoint-up(lg) {
        font-size: 0.9375rem; // 15px
    }

    &.heading,
    .heading {
        font-size: 0.875rem; // 14px

        @include media-breakpoint-up(lg) {
            font-size: 0.9375rem; //15px
        }
    }
}

h4,
.h4 {
    font-size: 0.8125rem; // 13px
    letter-spacing: 0.3em;

    @include media-breakpoint-up(md) {
        font-size: 0.9375rem; // 15px
    }

    @include media-breakpoint-up(lg) {
        font-size: 1rem; // 16px
    }
}

h5,
.h5 {
    font-size: 0.6875rem; // 11px
    letter-spacing: 0.3em;

    @include media-breakpoint-up(md) {
        font-size: 0.75rem; // 12px
    }

    @include media-breakpoint-up(lg) {
        font-size: 0.8125rem; // 13px
    }
}

h6 {
    font-size: 0.4rem;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(sm) {
        font-size: 0.5rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 0.55rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 0.6rem;
    }
}

//
// Links
//

a {
    color: $link-color;
    text-decoration: none;
    // Remove the gray background on active links in IE 10
    background-color: transparent;

    &:hover,
    &:focus {
        color: $link-hover-color;
        // text-decoration: underline;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        .headings-1,
        .headings-sale {
            // Headings inside anchors should not get underlined nor change color on hover
            color: inherit;
            text-decoration: none;
        }
    }

    p & {
        // Anchors inside paragraph should always be underlined
        text-decoration: underline;
    }
}

//
// Paragraphs
//

p {
    margin-top: 0;
    margin-bottom: $spacer;
}

//
// Horizontal rules
//

hr,
.hr {
    margin-top: $spacer;
    margin-bottom: $spacer;
    border: 0;
    border-top: $border-width solid rgba($black, 0.1);

    &.t-white {
      border-top: $border-width solid rgba($white, 0.1);
    }
}

.divider {
    @include media-breakpoint-up(sm) {
        display: table;
        margin: 0 auto;
        padding: 0 $spacer;
        position: relative;
        text-align: center;

        &::before,
        &::after {
            background-color: rgba($black, 0.1);
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            right: 100%;
            width: calc(50vw - 50%);
        }

        &::after {
            box-shadow: 100px 0 0 rgba($black, 0.1);
            left: 100%;
            right: auto;
            width: calc(48vw - 50%);
        }
    }
}

//
// Emphasis
//

small,
.small {
    font-size: 80%;
    font-weight: $font-weight-normal;
}

//
// Lists
//

.list-unstyled,
.list-inline {
    padding-left: 0;
    list-style: none;

    li {
        list-style: none;
    }
}

.list-inline-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: $spacer * 0.5;
    }
}

.list-spaced {
    li {
        margin: ($spacer / 2) 0;
    }
}
